<div class="container">
  <h1>Ask a new question:</h1>
  <form action="/questions" method="post">
    <div>
      <input type="text" name="question" placeholder="What do you want to ask?">
    </div>
    <div>
      <input type="submit" value="ask it!">
    </div>
  </form>
</div>
